/* Generator styles */
.generator {
  padding: 1rem;
  margin-top: 6rem;
}

.generator h2 {
  font-size: 4rem;
  margin-top: 0.5rem;
  min-height: 35vh;
}

.leader {
  display: block;
  text-align: left;
  font-size: 2rem;
}

.keyword {
  color: var(--aqua);
  text-decoration: underline;
}

.highlight {
  background-color: var(--aqua);
  color: var(--brown);
}

button + button {
  margin-left: 1rem;
}

button {
  background-color: var(--khaki);
  color: var(--brown);
  font-size: 1rem;
  border: 1px var(--aqua);
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--burgundy);
  color: var(--sand);
}

/* small-screen tweaks */
@media (max-width: 600px) {
  .generator h2 {
    font-size: 2rem;
    min-height: 25vh;
  }

  .leader {
    font-size: 1rem;
  }
}
