/* Color scheme from SeesawSiya */
/* https://www.tumblr.com/color-palettes/706444575930253312 */
:root {
  --brown: #120d09;
  --burgundy: #691f2c;
  --khaki: #e6ad78;
  --sand: #f1dcbf;
  --aqua: #68b1a6;
}

body {
  text-align: center;
}

.App {
  background-color: var(--brown);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--sand);
}

table {
 border: 5px var(--burgundy) groove;
 border-collapse: collapse;
}

thead {
  color: var(--sand);
  background-color: var(--burgundy);
}

th {
  border-right: 1px var(--brown) solid;
}

td {
  border: 1px var(--burgundy) solid;
}

th, td {
  padding: 0.5rem;
}
