/* Color scheme from SeesawSiya */
/* https://www.tumblr.com/color-palettes/706444575930253312 */
:root {
  --brown: #120d09;
  --burgundy: #691f2c;
  --khaki: #e6ad78;
  --sand: #f1dcbf;
  --aqua: #68b1a6;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: var(--brown);
  color: var(--sand);
}
